.page-header
  %h1 Edit My Account

= form_for @form, :url => [:bidder, :my_account],
  :html => {:class => 'form-horizontal'} do |f|

  .form-group
    = f.label :email, :class => 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :email, :class => 'form-control', :readonly => true

  .form-group
    = f.label :first_name, :class => 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :first_name, :class => 'form-control'

  .form-group
    = f.label :last_name, :class => 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :last_name, :class => 'form-control'

  .form-group
    = f.label :company_name, :class => 'col-sm-2 control-label'
    .col-sm-8
      = f.text_field :company_name, :class => 'form-control'

  .form-group
    = f.label :contact_person, :class => 'col-sm-2 control-label'
    .col-sm-8
      = f.text_field :contact_person, :class => 'form-control'

  .form-group
    = f.label :contact_number, :class => 'col-sm-2 control-label'
    .col-sm-8
      = f.text_field :contact_number, :class => 'form-control'

  .form-group
    = f.label :categories, :class => 'col-sm-2 control-label'
    .col-sm-8
      = f.select :categories,
        options_from_collection_for_select(Category.alphabetical,
          'id', 'name', @form.categories),
        {:include_blank => true},
        :multiple => true,
        :class => 'js-chosen-select form-control',
        :data => {:placeholder => 'Select Category'}

  %hr

  .form-group
    .col-sm-offset-2.col-sm-5
      = f.submit 'Save', :class => 'btn btn-primary'
      = link_to 'Cancel', [:bidder, :my_account], :class => 'btn btn-default'
