<tr>
  <td>
    <a href='/{{account}}/attachments/{{id}}'>{{filename}}</a>
  </td>
  <td>{{created_at}}</td>
  <td>
    <a href='/{{account}}/attachments/{{id}}' data-method='delete' data-confirm='Are you sure?'>
      <i class='glyphicon glyphicon-trash text-danger'></i>
    </a>
  </td>
</tr>
