= form_for [:admin, admin], :html => {:class => 'form-horizontal'} do |f|
  .form-group
    = f.label :email, :class => 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :email, :class => 'form-control',
        :readonly => admin.persisted?

  .form-group
    = f.label :first_name, :class => 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :first_name, :class => 'form-control'

  .form-group
    = f.label :last_name, :class => 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :last_name, :class => 'form-control'

  %hr

  .form-group
    .col-sm-offset-2.col-sm-5
      = f.submit 'Save', :class => 'btn btn-primary'
      = link_to 'Cancel', [:admin, :admins], :class => 'btn btn-default'
