.page-header
  .pull-left
    %h1 Administrators
  .pull-right
    = link_to '+ New', [:new, :admin, :admin],
      :class => 'btn btn-primary'

  .clearfix

%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Email
      %th
  %tbody
    - @admins.each do |admin|
      %tr
        %td= admin.last_name
        %td= admin.first_name
        %td= admin.email
        %td
          = link_to 'Show', [:admin, admin],
            :class => 'btn btn-default btn-sm'
          = link_to 'Edit', [:edit, :admin, admin],
            :class => 'btn btn-primary btn-sm'
          - unless current_user.id == admin.id
            = link_to 'Delete', [:admin, admin],
              :method => :delete,
              :data => {:confirm => 'Are you sure?'},
              :class => 'btn btn-danger btn-sm'