.page-header
  %h1 New Category

= form_for [:admin, @category], :html => {:class => 'form-horizontal'} do |f|
  .form-group
    = f.label :name, :class => 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :name, :class => 'form-control'

  %hr

  .form-group
    .col-sm-offset-2.col-sm-5
      = f.submit 'Save', :class => 'btn btn-primary'
      = link_to 'Cancel', [:admin, :categories], :class => 'btn btn-default'
