-#
-# locals:
-#   order
-#

%dl.dl-horizontal
  %dt Status
  %dd= order.status :show_awardee => true

  %dt Categories
  %dd= order.categories

  %dt Quantity
  %dd= order.quantity

  %dt Budget
  %dd= order.budget

  %dt Date Created
  %dd= order.created_at

  %dt Target Date
  %dd= order.target

  %dt Details
  %dd= raw order.details
