-#
-# locals:
-#   order
-#

- panel_class = order.panel_class
- has_bid = order.has_bid? current_role
- if has_bid
  - bid = order.bid_by current_role
  - panel_class = bid.decorate.panel_class

.col-md-12
  .panel{:class => panel_class}
    .panel-heading
      .pull-left Your Bid
      .pull-right
        - if has_bid
          = link_to 'View',
            [:bidder, bid],
            :class => 'btn btn-info btn-xs'
          - if bid.editable?
            - if bid.open?
              = link_to 'Edit',
                [:edit, :bidder, bid],
                :class => 'btn btn-default btn-xs'
              = link_to 'Withdraw',
                [:withdraw, :bidder, bid],
                :class => 'btn btn-danger btn-xs',
                :method => :put,
                :data => {:confirm => "Are you sure you want to withdraw your bid?"}
            - elsif bid.withdrawed?
              = link_to 'Re-open',
                [:reopen, :bidder, bid],
                :class => 'btn btn-success btn-xs',
                :method => :put,
                :data => {:confirm => "Are you sure you want to withdraw your bid?"}

      .clearfix

    .panel-body
      - if has_bid
        = raw bid
      - else
        %h4 You don't have a bid for this order.
        - if order.editable?
          %hr

          = link_to 'Make a Bid', [:new, :bidder, order, :bid],
            :class => 'btn btn-primary'
