<!DOCTYPE HTML>
%html
  %head
    %title IS226
    = stylesheet_link_tag 'application',
      :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render :partial => '/buyer/shared/nav'

    .container
      .row.js-container
        = render :partial => '/shared/notice'
        = yield
